
<% form_for @bill do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :amount %><br />
    <%= f.text_field :amount, :value => "" %>
  </p>
  <p>
    <%= f.label :note %><br />
    <%= f.text_field :note %>
  </p>
  <p>
    <%= f.label :date, "Payment is due on" %><br />
    <%= f.text_field :date %>
  </p>
  <p>Divide between housemates:</p>
  <ul>
  <% @bill.assignments.each do |assignment| %>
    <% fields_for "bill[assignment_attributes][]", assignment do |u| %>
      <li>
        <label><%= assignment.payee.login %>:</label>
        <%= u.text_field :amount, :id => "assignment_for_#{assignment.payee.id}" %>
        <%= u.hidden_field :payee_id %>
        <%= u.hidden_field :user_id %>
      </li>
    <% end %>
  <% end %>
  </ul>
  <p><%= f.submit "Submit" %></p>
<% end %>

<% content_for :bottom_script do -%>
  <% javascript_tag do %>
  
    function roundDecimal(amount) {
      return Math.round(amount*100)/100;
    }
  
    function billAmount() {
      return $("input#bill_amount");
    }
    
    <% for assignment in @bill.assignments do %>
    
    function assignmentAmount<%= assignment.payee.id %>() {
      return $("input#assignment_for_<%= assignment.payee.id %>");
    }
    
    <% end %>
    
    $(document).ready(function() {
      $("input#bill_date").datepicker();
      billAmount().change(function() {
        var total = 0;
        var value = roundDecimal(billAmount().attr("value") / <%= User.count %>);
        <% for assignment in @bill.assignments do %>
          assignmentAmount<%= assignment.payee.id%>().attr("value", value);
          total = total + value;
        <% end %>
        if(total != billAmount().attr("value")) {
          assignmentAmount<%= @bill.assignments.last.payee.id %>().attr("value", roundDecimal(value - 0.01));
        }
      });
      
      <% for assignment in @bill.assignments do %>
        <% assignmentAmount = "assignmentAmount#{assignment.payee.id}()" %>
        <%= assignmentAmount %>.change(function() {
          subtotal = billAmount().attr("value") - <%= assignmentAmount %>.attr("value");
          average = subtotal / <%= @users.size - 1 %>;
          <% for other_assignment in @bill.assignments do %>
            <% unless other_assignment.payee == assignment.payee %>
              assignmentAmount<%= other_assignment.payee.id %>().attr("value", average);
            <% end %>
          <% end %>
        });
      <% end %>
    });
  <% end %>
<% end -%>