<% title "Bills" %>

<div class="balance">
<p>You are <%= current_user.login %>. Your current balance is <span class="balance"><%= number_to_currency(current_user.balance) %></span></p> <p class="payment_link"><%= link_to "Make a payment", new_payment_path %></p>
</div>

<table>
  <tr>
    <th>Type</th>
    <th>Amount</th>
    <th>Created by</th>
    <th>Assigned to</th>
    <th>Note</th>
  </tr>
  <% for entry in @entries %>    
    <tr class="<%= entry.class.to_s.downcase %>">
      <td><%= entry.class %></td>
      <td><%= amount(entry) %></td>
      <td><%=h entry.user.login %></td>
      <td><%= h entry.payee.login if entry.kind_of?(Assignment) %></td>
      <td width="200"><%=h entry.note %></td>
    </tr>
  <% end %>
</table>

<%= will_paginate %>

<p><%= link_to "Add a bill", new_bill_path %></p>
