<% title "Bills" %>

<p>Welcome, <%= current_user.login %>!</p>

<div class="balances">
<h3>Balances</h3>
  <ul class="yours">
  <% for user in @users %>
    <% unless user == current_user %>
      <% amount = current_user.net_amount_owed_to(user) -%>
      <li>You owe <span class="user"><%= user.login %></span> <span class="amount"><%= amount %></span> 
      
      <% if amount > 0.to_cents %>
        <%= link_to "Make a payment", new_payment_path(:amount => amount.cents, :payee_id => user.id) %></li>
      <% end %>
    <% end %>
  <% end %>
  </ul>

  <ul class="theirs">
  <% for user in @users %>
    <% unless user == current_user %>
      <li><%= user.login %> owes you <%= user.net_amount_owed_to(current_user) %></li>
    <% end %>
  <% end %>
  </ul>
  
</div>

<div class="timeline">
  <h3>Timeline</h3>
<% @entries.group_by do |e| 
    e.created_at.strftime("%b %d, %Y")
    # e.created_at.to_date
  end.each do |date, entries| %>
  <p class="date"><%= date %></p>
  <% for entry in entries %>
  
    <!-- PAYMENTS -->
    <% if entry.kind_of?(Payment) %>
      <p class="payment"><%= user_name(entry.user) %> paid <%= user_name(entry.payee) %> <%= amount(entry) %>. <%= time_created(entry) %></p>
      
    <!-- BILLS -->
    <% elsif entry.kind_of?(Bill) %>
      <p class="bill"><%= user_name(entry.user) %> entered the bill "<%= entry.note %>" for <%= amount(entry) %>. <%= time_created(entry) %></p>
      
    <!-- ASSIGNMENTS -->
    <% elsif entry.kind_of?(Assignment) %>
      <p class="assignment"><%= user_name(entry.user) %> assigned <%= user_name(entry.payee) %> <%= amount(entry) %>. <%= time_created(entry) %></p>
    <% end %>
    
  <% end %>
<% end %>
</div>

<% if false %>
<table>
  <tr>
    <th>Created</th>
    <th>Type</th>
    <th>Amount</th>
    <th>Created by</th>
    <th>Assigned to</th>
    <th>Due by</th>
    <th>Note</th>
  </tr>
  <% for entry in @entries %>    
    <tr class="<%= entry.class.to_s.downcase %>">
      <td><%= entry.created_at.strftime("%m/%d/%Y") %></td>
      <td><%= entry.class %></td>
      <td><%= amount(entry) %></td>
      <td><%=h entry.user.login %></td>
      <td><%= h entry.payee.login if entry.kind_of?(Assignment) %></td>
      <td><% if entry.kind_of?(Bill) %>
        <%= entry.date.strftime("%m/%d/%Y") %>
      <% end %></td>
      <td width="200"><%=h entry.note %></td>
    </tr>
    <% if entry.kind_of?(Bill) %>
      <% for assignment in entry.assignments %>
      <tr class="<%= assignment.class.to_s.downcase %>">
      <td><%= assignment.created_at.strftime("%m/%d/%Y") %></td>
      <td><%= assignment.class %></td>
      <td><%= amount(assignment) %></td>
      <td><%=h assignment.user.login %></td>
      <td><%= h assignment.payee.login if assignment.kind_of?(Assignment) %></td>
      <td>
        <%= assignment.date.strftime("%m/%d/%Y") %>
      </td>
      <% end %>
    <% end %>
  <% end %>
</table>
<% end %>
<%= will_paginate %>

<p><%= link_to "Add a bill", new_bill_path %></p>
