<% title "Bills" %>
<!-- 
<div class="balance">Your current balance is <span class="balance"><%= number_to_currency(current_user.balance) %></span></p> <p class="payment_link"><%= link_to "Make a payment", new_payment_path %></p>
</div>
--> 
<div class="individual_balances">
<p>You are <%= current_user.login %>. </p>
  <ul>
  <% for user in @users %>
    <% unless user == current_user %>
      <li>You owe <%= user.login %> <%= current_user.net_amount_owed_to(user) %> <%= link_to "Make a payment", new_payment_path(:amount => current_user.net_amount_owed_to(user).cents) %></li>
    <% end %>
  <% end %>
  </ul>

  <ul>
  <% for user in @users %>
    <% unless user == current_user %>
      <li><%= user.login %> owes you <%= user.net_amount_owed_to(current_user) %></li>
    <% end %>
  <% end %>
  </ul>
  
</div>

<table>
  <tr>
    <th>Created</th>
    <th>Type</th>
    <th>Amount</th>
    <th>Created by</th>
    <th>Assigned to</th>
    <th>Due by</th>
    <th>Note</th>
  </tr>
  <% for entry in @entries %>    
    <tr class="<%= entry.class.to_s.downcase %>">
      <td><%= entry.created_at.strftime("%m/%d/%Y") %></td>
      <td><%= entry.class %></td>
      <td><%= amount(entry) %></td>
      <td><%=h entry.user.login %></td>
      <td><%= h entry.payee.login if entry.kind_of?(Assignment) %></td>
      <td><% if entry.kind_of?(Bill) %>
        <%= entry.date.strftime("%m/%d/%Y") %>
      <% end %></td>
      <td width="200"><%=h entry.note %></td>
    </tr>
    <% if entry.kind_of?(Bill) %>
      <% for assignment in entry.assignments %>
      <tr class="<%= assignment.class.to_s.downcase %>">
      <td><%= assignment.created_at.strftime("%m/%d/%Y") %></td>
      <td><%= assignment.class %></td>
      <td><%= amount(assignment) %></td>
      <td><%=h assignment.user.login %></td>
      <td><%= h assignment.payee.login if assignment.kind_of?(Assignment) %></td>
      <td>
        <%= assignment.date.strftime("%m/%d/%Y") %>
      </td>
      <% end %>
    <% end %>
  <% end %>
</table>

<%= will_paginate %>

<p><%= link_to "Add a bill", new_bill_path %></p>
