<% form_for @payment do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :amount %><br />
    <%= f.text_field :amount %>
  </p>
  <p>
    <%= f.label :pay_to %><br />
    <%= collection_select(:payment, :payee_id, User.find(:all), :id, :login, {:prompt => "Pay to"}) %>
  </p>
  <p>
    <%= f.label :note %><br />
    <%= f.text_field :note %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
